@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --body-font: "Nunito Sans", sans-serif;
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-background: hsl(0, 0%, 98%);
  --light-mode-input: hsl(0, 0%, 52%);
  --white: hsl(0, 0%, 100%);
  --dark-mode-bg: hsl(207, 26%, 17%);
  --dark-mode-elements: hsl(209, 23%, 22%);
  --purple: rgb(143, 43, 236);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
  font-family: var(--body-font);
  font-size: 1.8rem;
}
.app {
  max-width: 1440px;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: var(--light-mode-text);
}
/* header */
header {
  padding: 3rem 5.1rem 2rem 5.1rem;
  -webkit-box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  background-color: var(--white);
  font-weight: 700;
  font-size: 3rem;
}
/* search */

.searchBar {
  margin: 1rem 1rem 1rem auto;
  width: 40rem;
}

.searchBar input {
  padding: 2.4rem;
  -webkit-box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  border: none;
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
}

.searchBar input::placeholder {
  opacity: 0.4;
  font-size: 1.6rem;
  color: var(--light-mode-text);
  font-weight: 600;
  font-family: var(--body-font);
}

.searchBar input[type="search"] {
  font-size: 1.6rem;
  color: var(--light-mode-text);
  padding-left: 5rem;
  font-family: var(--body-font);
}
.searchBar input:focus {
  outline: none;
}
/* cards continer */
.developer_cards_container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin: 4rem auto;
}
/* developer card */
.developer_card {
  max-width: 300px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
}
.developer_card:hover {
  transform: scale(1.05, 1.05);
  transition: 0.1s ease;
}
.developer_photo {
  width: 100%;
  height: 50%;
}
.developer_photo img {
  width: 100%;
  height: 100%;
}
.developer_info {
  width: 100%;
}
.devleloper_deatils {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 2rem auto 1rem auto;
  gap: 5px;
}
.developer_name {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.developer_company,
.developer_location {
  text-align: center;
}

.developer_social_links {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1rem;
  margin-bottom: 1rem;
}
.developer_social_links a {
  border-bottom: 1px solid var(--light-mode-text);
  font-weight: 600;
}
.developer_social_links a:hover {
  color: var(--purple);
  border-bottom: 1px solid var(--purple);
}
.pageNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 3rem;
  font-weight: 600;
}
/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 5.1rem;
  -webkit-box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
  background-color: var(--white);
  padding: 3rem;
}
footer a {
  color: var(--purple);
}
